<ul>
    <% 
        orders.forEach(function(order,i){
    %>
            <li>
                <%=
                    order['cust_id'];
                %>
            </li>
    <%
        })
    %>
</ul>